
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Graduate', cursive;

}
.about-us{
  height: 85vh;
  width: 100%;
  padding: 50px 0;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
  color: white;
}
.text h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ff0000;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #ff0000;
}
.text p{

  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #fff;
  color: #ff0000;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  border-color: #ff0000;
  transition: 0.5s;
}
.hire:hover{
  background: #ff0000;
  border: 1px solid #ff0000;
}
.img{
  
}